

<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
  
          <!-- Content -->
          <h5 class="text-uppercase">¿Quienes somos?</h5>
          <p>Una carniceria. </p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase">Contacto</h5>
  
          <ul class="list-unstyled">
            
            <li>
                <a href="#"><span class="fab fa-facebook-f">  </span>  
                 <img  src="https://icon-icons.com/icons2/1/PNG/32/social_facebook_fb_35.png" alt="Facebook">
                 Facebook
                </a>
            </li>
            <li>
                <a href="#"><span class="fab fa-twitter"> </span> 
                    <img  src="https://icon-icons.com/icons2/1/PNG/32/social_Twitter_38.png" alt="Twitter"> 
                    Twitter
                </a>
            </li>
            <li>
                <a href="#"><span class="fab fa-instagram"> </span> 
                    <img  src="https://icon-icons.com/icons2/1/PNG/32/social_instagram_3.png" alt="Instagram"> 
                    Instagram 
                </a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase">Direccion</h5>
  
          <ul class="list-unstyled">
            <li>
                <div class="place">
                    <span class="fas fa-map-marker-alt"></span>
                    <span class="text">Birendrangar, Surkhet</span>
                </div>
            </li>
            <li>
                <div class="phone">
                    <span class="fas fa-phone-alt"></span>
                    <span class="text">+57 304 5515151</span>
                </div>
            </li>
            <li>
                <div class="email">
                    <span class="fas fa-envelope"></span>
                    <span class="text">kamesvans1234@gmail.com</span>
                </div>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="/"> CarniceriaSas.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
