<div  class="carrito-collapsed " class="carrito">
    <div id="cabecera">
        
        <label> Tu Carrito </label>
        <hr class="lineaTitulo">
    </div>
    
    <!-- Items -->

    <div id="contenido" class="contenido">
        <label id="lbListaVacia"> TU CARRITO ESTÁ VACÍO </label>
        <table>

        </table>
        
    </div>
    <div>
        <hr class="lineaTitulo">
        <button class="btn">Editar</button>
        <button class="btn" [routerLink]="['/productoCarrito']">Realizar Pedido</button>
    </div>



</div>
