<div class="Contenedor-form shadow-lg p-3 mb-5 rounded">
    <h2>Login</h2>
    <form>
        <div class="form-group ">
            <input type="email" class="form-control" name="inputEmail" placeholder="Email">
        </div>
        <div class=" form-group">
            <input type="password" class="form-control" name="inputPassword" placeholder="Password">
        </div>
        <div class="posicionboton">
            <button class="btn btn-outline-secondary" >Ingresar</button>
        </div>
        <div class="enlace">
            <a href=#>¿Has olvidado tu contraseña?</a>
        </div>

    </form>
</div>