<div>
    <div>
        <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
            <ngb-panel title="Registro domiciliario">
                <ng-template ngbPanelContent>
                    <div class="center">
                        <h2>Registro domiciliario</h2>
                    </div>
                    <div class="conteinermain">
                        <div>                    
                            <form class="form-row" [formGroup]="registerDomiciliaryForm" (ngSubmit)="onSubmit()">
                                <div class="partesuperior">
                                    <div class="col-md-6">
                                        <h3>Informacion del domiciliario</h3>
                                    </div>

                                    <div class="form-group ">
                                        <input type="email" class="form-control" formControlName="inputEmail" [ngClass]="{ 'is-invalid': submitted && f.inputEmail.errors}" [(ngModel)]="domiciliario.correo"
                                            placeholder="Correo electronico">
                                            <div *ngIf="submitted && f.inputEmail.errors" class="invalid-feedback">
                                                <div *ngIf="f.correo?.inputEmail?.required">El correo es requerida</div>
                                              </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="inputIdentificacion"  formControlName="inputIdentificacion" [ngClass]="{ 'is-invalid': submitted && f.inputIdentificacion.errors }"
                                        [(ngModel)]="domiciliario.identificacion"
                                            placeholder="Identificacion">
                                            <div *ngIf="submitted && f.inputIdentificacion.errors" class="invalid-feedback">
                                                <div *ngIf="f.inputIdentificacion.errors?.required">La identificacion es requerida</div>
                                            </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <input type="text" class="form-control" id="inputNombre"  formControlName="inputNombre" [ngClass]="{ 'is-invalid': submitted && f.inputNombre.errors }"
                                            [(ngModel)]="domiciliario.nombre"
                                                placeholder="Nombre">
                                                <div *ngIf="submitted && f.inputNombre.errors" class="invalid-feedback">
                                                    <div *ngIf="f.inputNombre.errors?.required">El nombre es requerida</div>
                                                  </div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <input type="text" class="form-control" id="inputApellido" name="inputApellido" formControlName="inputApellido" [ngClass]="{ 'is-invalid': submitted && f.inputApellido.errors }"
                                            [(ngModel)]="domiciliario.apellido"
                                                placeholder="Apellido">
                                                <div *ngIf="submitted && f.inputApellido.errors" class="invalid-feedback">
                                                    <div *ngIf="f.inputApellido?.errors?.required">El apellido es requerida</div>
                                                  </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <input type="text" class="form-control" id="inputTelefono" name="inputTelefono" formControlName="inputTelefono" [ngClass]="{ 'is-invalid': submitted && f.inputTelefono.errors }"
                                        [(ngModel)]="domiciliario.control"
                                            placeholder="Telefono">
                                            <div *ngIf="submitted && f.inputTelefono.errors" class="invalid-feedback">
                                                <div *ngIf="f.inputTelefono.errors?.required">E ltelefono es requerida</div>
                                              </div>
                                    </div>

                                </div>
                                <div class="archivos">
                                    <div class="col-md-6">
                                        <h3>Soporte del vehiculo</h3>
                                    </div>
                                    <!--
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="inputLicenciaConducir">SOAT</label>
                                            <input type="file" class="form-control DocVehiculo" name="inputLicenciaConducir"
                                                id="inputlicenciaConducir">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="inputPermisoCirculacion">Revision tecnomecanica</label>
                                            <input type="file" class="form-control DocVehiculo" name="inputPermisoCirculacion"
                                                id="inputpermisoCirculacion">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="inputTarjetaPropiedad">Tarjeta de propiedad</label>
                                            <input type="file" class="form-control DocVehiculo" name="inputTarjetaPropiedad"
                                                id="inputTarjetaPropiedad">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="inputNumeroPlaca">Nro. Placa</label>
                                            <input type="text" class="form-control DocVehiculo" id="inputNumeroPlaca" name="inputNumeroPlaca">
                                        </div>
                                    </div>
                                -->
                                </div>
                                
                                <div class="posicionboton">
                                    <button class="btn btn-outline-secondary" >Registrar</button>
                                </div>
                            </form>
                        </div>  
                    </div>
                </ng-template>
            </ngb-panel>
            <ngb-panel title="Registro domiciliario">
                <ng-template ngbPanelContent>
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                    wolf moon officia
                    aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3
                    wolf moon tempor,
                    sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
                    keffiyeh helvetica,
                    craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                    lomo. Leggings
                    occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of
                    them accusamus
                    labore sustainable VHS.
                </ng-template>
            </ngb-panel>
            <ngb-panel title="Disabled">
                <ng-template ngbPanelContent>
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                    wolf moon officia
                    aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3
                    wolf moon tempor,
                    sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
                    keffiyeh helvetica,
                    craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                    lomo. Leggings
                    occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of
                    them accusamus
                    labore sustainable VHS.
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
    </div>
    <div>

    </div>
</div>