.informacionContenedor{
    width: 500px;
}
.conteinermain{
    display: inline-flex;
}
h2{
    padding-bottom: 15px;
    text-align: center;
    border-bottom: 1px black solid  ;
}
.informacionContenedordos{
    margin-left: 50px;
}

.archivos{
    width: 1000px;
}
.partesuperior{
    width: 1000px;
}

.posicionboton{
    margin-top: 40px;
    margin-left: 42%;
}

