<div class="Contenedor-form shadow-lg p-3 mb-5 rounded">
    <h2>Carne de res</h2>

    <table class="table " >
        

        <tbody>
            <tr >
                <td>
                    <figure class="Producto">
                    
                        <img src="https://image.freepik.com/foto-gratis/carne-fresca_144627-19941.jpg">
                        <hr class="">
                        <div class="info">
                            <label>carne</label>
                            <hr class="lineaInfo">
                            <label>precio</label>
                        </div>
                        <div class="botonesProducto">   
                            <button class="btn" >Ver mas</button>
                            <button class="btn" >Añadir al carrito</button>    
                        </div>
                                 
                    </figure>
                </td>
            </tr>
        </tbody>
    </table>
</div>
